{% extends 'main.html'%}
{% block content %}
<center>
<h1><u>Bienvenue!</u></h1>

<marquee behavior="scroll" direction="left" width="100%" bgcolor="#EEEEEE">
   <img src="image.jpg" alt="" width="400" height="400">
    <img src="image2.jpg" alt="" width="400" height="400">
    <img src="image3.jpg" alt="" width="400" height="400">
    <img src="image4.jpg" alt="" width="400" height="400">
    <img src="image5.jpg" alt="" width="400" height="400">
    <img src="image6.jpg" alt="" width="400" height="400">

</marquee><br>


    </center>
{% endblock %}

