{% extends 'main.html'%}
{% block content %}

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="col">
                        <div class="row">

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-6 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="col align-self-center">

                                                   <a href="Consultations" class="h4 mb-0 font-weight-bold text-dark">
                                                       Consultations</a>
                                                </div>
                                                <div class="h5 mb-0 text-gray-800">
                                                    <i class="fas fa-sms fa-0.5x text-gray-300"></i> Par sms
                                                </div>
                                                <div class="h5 mb-0 text-success">
                                                    <a href="https://wa.me/237693795188"> <i class="fas fa-comments fa-0.5x text-dark"></i> Par Whatsapp</a>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-stethoscope fa-3x text-danger"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-6 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="h4 mb-0 font-weight-bold text-dark" >
                                                    <a href="#" class="h4 mb-0 font-weight-bold text-dark">Ordonnances</a>
                                                </div>
                                                <div class=" mb-0 font-weight-bold text-gray-800"> </div>
                                                <div class="mt-4 small">
                                                    <div class="h5 mb-0 text-dark">
                                                        <i class="fas fa-exclamation-triangle text-danger"></i> Respecter les doses
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-notes-medical fa-3x text-danger"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-6 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="h4 mb-0 font-weight-bold text-dark">
                                                    Pharmacie de garde la plus proche</div>
                                                <div class="h5 mb-0 text-gray-800">
                                                    Pharmacie Emia
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-capsules fa-2x text-success"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-6 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="h4 mb-0 font-weight-bold text-dark">
                                                    Dossier médicale</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-folder fa-2x text-warning"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                        <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container fluid">
        <dir class="row">

           <div class="row">
              <div class="col-lg-6 col-md-8 d-flex align-items-center">
                <div class="icon-box">
                  <div class="icon"><i class="fas fa-calendar-alt fa-2x text-dark"></i></div>
                  <h4><a href="Cycle_menstruel">Cycle menstruel</a></h4>
                  <p>Surveiller votre période féconde et prenez soin de votre appareil génital.</p>
                </div>
              </div>

              <div class="col-lg-6 col-md-8 d-flex align-items-stretch mt-6 mt-md-0">
                <div class="icon-box">
                  <div class="icon"><i class="fas fa-newspaper fa-2x text-dark"></i></div>
                  <h4><a href="https://www.santemagazine.fr/">Actu santé</a></h4>
                  <p>Consulter les l'évolutions des pandémies qui font la une, actualités des nouvelles maladies qui terrifient le monde
                  </p>
                </div>
              </div>
        </div>
            <div class="row">
                <div class="col-lg-6 col-md-8 d-flex align-items-stretch mt-6 mt-md-0">
                    <div class="icon-box">
                      <div class="icon"><i class="fas fa-medkit fa-2x text-dark"></i></div>
                      <h4><a href="https://www.croix-rouge.fr/Je-me-forme/Particuliers/Les-6-gestes-de-base"> Soins de secours</a></h4>
                      <p>Apprenez les premiers gestes de secours et sauvez des vies.</p>
                    </div>
                </div>

              <div class="col-lg-6 col-md-8 d-flex align-items-stretch mt-6 mt-md-0">
                <div class="icon-box">
                  <div class="icon"><i class="fas fa-question-circle fa-2x text-dark"></i></div>
                  <h4><a href="Help">Aide</a></h4>
                  <p>Apprenez à utilisez Angapia Care de ménière efficace. Sauvez des vies.</p>
                </div>
              </div>
            </div>
        </dir>



        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

{% endblock %}

